{% extends 'base.html' %}
{%block title%}Registration page{%endblock%}
{%block body%}
<form action="{{ url_for('display_details')}}" method="post">
    <fieldset>
        <legend>Registration Details</legend>
        <label for="name">User name</label><br>
        <input type="text" name="name" id="name"><br>
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email"><br>
        <label for="phone">Phone</label><br>
        <input type="tel" name="number" id="phone"><br>
        <button type="submit">submit</button>
    </fieldset>
</form>
{%endblock%}